
.container_presentation {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page_precedente {
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
}

.page_precedente a i {
    font-size: 50px;
    color: #762F26;
}

.page_precedente a {
    text-decoration: none;
}


.page_precedente h1 {
    font-size: 20px;
    color:#762F26;
}




/* Présentation biere */ 


.bordure_presentation {
    padding: 20px 5px 20px 5px;
    margin:  3rem 10rem 0 10rem;
    display: flex;
    border: 1.5px solid #762F26;
    border-radius: 60px;
    flex-direction: column;
    transition-duration: 1s;
}

.bordure_presentation h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #762F26;
    font-family: 'Apollo';
}

.presentation {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.image_fond {
    width: 60%;
    background-image: url(../images/fonds/fond_grand_est.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: visible;
}

.image_biere {
    width: 6rem;
}

.elements_biere {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.element {
    padding-bottom: 20px;
}

.titre_element {
    background-color: #762F26;
    border-radius: 10px;
    width: min-content;
    padding: 1px 15px 1px 15px;
    color: var(--main-color--);
    font-size: 18px;
    font-family: 'Apollo';
    margin: 5px;
    font-weight: 300;
}

.texte_element {
    font-size: 16px;
    margin: 10px;
    padding-left: 3rem;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}


#aromes {
    margin-left: -4rem;
    transition-duration: 1s ;
}

#type {
    margin-left: 2rem;
    transition-duration: 1s ;
}

#prix {
    margin-left: 1rem;
    transition-duration: 1s ;
}

#description {
    margin-left: -7rem;
    transition-duration: 1s ;
}



@media (max-width: 1050px) {

    .bordure_presentation {
        padding: 20px 5px 20px 5px;
        margin:  5rem 5rem 0 5rem;
        display: flex;
        border: 1.5px solid #762F26;
        border-radius: 60px;
        flex-direction: column;
        transition-duration: 1s;
    }

    #aromes {
        margin-left: 0;
        transition-duration: 1s ;
    }
    
    #type {
        margin-left: 0;
        transition-duration: 1s ;
    }
    
    #prix {
        margin-left: 0;
        transition-duration: 1s ;
    }

    #description {
        margin-left: 0;
        transition-duration: 1s ;
    }
}





/* découvrez-en plus */

.decouvrez_plus{
    padding: 5%;
    max-width: 100%;
}

.bieres{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5%;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.bieres a {
    text-decoration: none;
    color: var(--second-color--);
}

.bloc_biere{
    align-items: center;
}

.bloc_biere img{
    max-width: 100%;
}

.decouvrez_plus h1{
    font-family: 'Apollo';
    font-size: 2.1rem;
    padding: 0% 5%;
    font-weight: 500;
}

.text_bieres h3{
    font-family: 'Apollo';
    font-size: 1.7rem;
    padding-top: 5%;
    font-weight: 500;
}

.text_bieres h5{
    font-family: 'Apollo';
    font-size: 1.2rem;
    padding-top: 1%;
    font-weight: 400;
}