main{
    padding: 5%;
    color: #32422e;
}

#bloc_global{
	display: grid;
    padding: 5% 8%;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

#titre_contact{
    text-align: center;
}

#titre_contact h1{
    font-family: 'apollo';
    font-weight: 300;

}


/*BLOCS*/

/* GAUCHE */

#bloc_gauche_infos{
	background: wheat;
    border-radius: 30px;
	display: flex;
    flex-direction: column;
    align-items: center
}

.bloc_infos{
	display: flex;
    flex-direction: column;
}

.bloc_infos h2{
	font-family: 'apollo';
	font-size: 1.7rem;
	font-weight: 400;
	display: flex;
	justify-content: center;
	padding: 5% 0% 8%;
}

.bloc_infos p{
	font-size: 1.1rem;
	line-height: 3rem;
}

#bloc_maps h2{
	font-family: 'apollo';
	font-size: 1.7rem;
	font-weight: 400;
	display: flex;
	justify-content: center;
	padding: 8% 0% 3%;
}

#bloc_maps iframe{
	max-width: 100%;
	width: 30rem;
    height: 20rem;
	padding: 2% 1% 8%;
}

/* DROITE */

#bloc_droit_contact{
	background: wheat;
    border-radius: 30px;
	padding: 5%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#bloc_droit_contact h2{
	font-family: 'apollo';
	font-size: 1.7rem;
	font-weight: 400;
	display: flex;
	justify-content: center;
	padding: 5% 0% 8%;
}

#form_contact{
	display: flex;
	flex-direction: column;
	padding: 5%;
	max-width: 100%;
	width: 100%;
}

.tit_form{
	padding: 0% 2% 4%;
}

.tit_form input{
    background: #FFECD3;
    height: 1.1rem;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 10px;
    width: 100%;
    box-shadow: 1px 2px 3px #9f9176;
}

#bloc_droit_contact h3{
	font-family: 'apollo';
	font-size: 1.4rem;
	font-weight: 400;
	display: flex;
	justify-content: center;
	padding: 8% 0% 4%;
}


#envoyer_contact{
	max-width: 20%;
    height: 35px;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    box-shadow: none;
	display: flex;
    justify-content: center;
	background: #FFECD3;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

#class_bouton_envoyer{
	display: flex;
	justify-content: center;
}

#suivez_nous_items i{
	color: #32422e;
	font-size: 1rem;
}