/* BACKGROUND */

body {
    background-color: #32422E;
    background-image: url('../images/haut_gauche.svg'),url('../images/bas_droite.svg');
    background-size: 25%;
    background-position-x: left, right;
    background-position-y: top,bottom;
    background-repeat: no-repeat;
    color:var(--main-color--);
}


main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#cadre {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--main-color--);
    border-radius: 25px;
}

.blocs_content h1 {
    padding-bottom: 40px;
    font-size: 30px;
    font-family: "Apollo";
}

.blocs_content h2 {
    padding-bottom: 20px;
    font-size: 20px;
    font-family: "Apollo";
}


#boutons_el {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#boutons {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-right: 15%;
    padding-left: 15%;
}


#bouton_oui {
    width: 35%;
    padding: 5px 0 5px 0;
}


#bouton_non {
    width: 35%;
    padding: 5px 0 5px 0;
}


#refus_age {
    padding: 10px;
}







/*
body{
    background-color: #32422E;
    height: 100vh;
}*/

/* CONTENT */
/*
#cadre{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc_content{
    width: 10rem;
}
*/
/*
#contenu{
    display: flex;
    border: #FFE7B6 solid 2px;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    margin: 20%;
}

#cadre{
    display: flex;
    flex-direction: column;
}
