#footer{
    width: 100%;
    background-color: var(--secound-color--);
    color: #FFE7B6;
}

#footer_colonne {
    display:flex;
    padding: 1%;
}

.liste-footer h2{
    font-size: 1.4rem;
    font-family: 'Josefin Sans';
    padding: 2% 0% 1% 0%;
}


.line{
    padding: 0.3%;
    background: #FFCE6F;
    width: 15%;
    text-align: center;
}


.liste-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

.reseaux {
    display: inline-flex;
    gap: 1rem;
}

.reseaux i{
    font-size: 3rem;
}

.reseaux i:hover{
    transform: scale(1.1);
    transition: ease .4s;
}

.liste-footer ul{
    padding: 3% 0%;
}

.liste-footer h2{
    font-family: 'apollo';
    font-weight: 400;
}

.liste-footer ul li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 5%;
}

.liste-footer ul li a{
    text-decoration: none;
    color: #FFE7B6;
    font-weight: 300;
    font-size: 1.2rem;
    font-family: 'Josefin Sans';
}

.liste-footer ul li a:hover{
    text-decoration: underline;
    transition: ease .9s;
}

.copyrights{
    padding: 1% 3% 1% 3%;
    display: flex;
    flex-direction: row-reverse;
}

.copyrights h4{
    font-size: 1.2rem;
    font-weight: 200;
    color: #FFECD2;
}