#all_event{
    padding: 3% 0%;
}

.bloc_event{
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    align-items: center;
}

.bloc_event h1{
    font-family: 'Apollo';
    font-weight: 300;
}

.contenu_event{
    display: flex;
    flex-direction: row;
    gap: 5%;
    max-width: 90%;
    padding: 5% 0%;
    align-items: center;
}

.contenu_event img{
    max-width: 100%;
    width: 35%;
}

.contenu_event p{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 300;
}


